body {
    background-color: #7091E6;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

.submit_button {
    background-color: #3D52A0;
    cursor: pointer;
    color: white;
    border: white solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    display: block;
    margin:auto;
    margin-bottom: 20px;
}

.submit_button:hover{
    background-color: #ADBBDA;
}

input {
    background-color: white;
    padding: 8px;
    width: 214px;
    border: black solid 1px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.text-container {
    border: white solid 1px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 650px;
    display: block;
    margin:auto;
    border-radius: 10px;
    line-height: 0.6;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown {
    display: block;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: black solid 1px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.symbols-input {
    display: flex; 
    flex-direction: row; 
    justify-content: center
}

.start_date_div, .end_date_div {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.symbol1_input, .symbol2_input {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.end_date {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 10px;
}

.start_date {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.end_date_label, .start_date_label {
    margin-top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.compare {
    font-weight: bold;
}

.symbol {
    font-weight: bold;
}