<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aktien Vergleich</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="headline">Stocks Comparison</h1>
      <div class="text-container">
        <h3>Quick Guide for the Stock Comparison Tool</h3>
        <p>
          Type the ticker symbols (e.g.,
          <span class="symbol">'AAPL'</span>,<span class="symbol"> 'MSFT'</span
          >) for the two stocks you want to compare.
        </p>
        <p>Choose the start and end dates for the comparison.</p>
        <p>If you dont choose a date you will get the maximum period.</p>
        <p>
          Click <span class="compare">"Compare"</span> to generate a line chart
          showing the closing prices of both stocks
        </p>
        <p>over the selected period.</p>
      </div>
      <form id="compare-form">
        <div class="symbols-input">
          <input
            class="symbol1_input"
            type="text"
            id="symbol1"
            name="symbol1"
            placeholder="Enter first stock"
          />
          <input
            class="symbol2_input"
            type="text"
            id="symbol2"
            name="symbol2"
            placeholder="Enter second stock"
          />
        </div>
        <div class="start_date_div">
          <label class="start_date_label" for="start_date">Start Date:</label>
          <input
            class="start_date"
            type="date"
            id="start_date"
            name="start_date"
          />
        </div>
        <div class="end_date_div">
          <label class="end_date_label" for="end_date">End Date:</label>
          <input class="end_date" type="date" id="end_date" name="end_date" />
        </div>
        <button class="submit_button" type="submit">Submit</button>
      </form>
      <div id="plot"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#compare-form").on("submit", function (event) {
          event.preventDefault();
          var symbol1 = $("#symbol1").val();
          var symbol2 = $("#symbol2").val();
          var start_date = $("#start_date").val();
          var end_date = $("#end_date").val();

          $.post(
            "/compare",
            {
              symbol1: symbol1,
              symbol2: symbol2,
              start_date: start_date,
              end_date: end_date,
            },
            function (data) {
              var plot_data = JSON.parse(data);
              Plotly.newPlot("plot", plot_data.data, plot_data.layout);
            }
          );
        });
      });
    </script>
  </body>
</html>
